!.envrc
.direnv/

*.bin
proofs
proofs_old
__proofs
tmp
*.csv
include/
.cache

build
orchestrator

proofs/thirdparty/gem5/**
src/**
modules/**/*

!src/**/*.c
!src/**/*.h

src/**/*.mod.c
!modules/**/.gitignore

!modules/**/
!modules/**/*.c
!modules/**/*.h

compile_commands.json
